*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  width: 100%;
  height: 100vh;
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
  width: 100%;
  height: 100vh;
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.small-box{
  width: 200px;
  height: 200px;
  background: linear-gradient( to bottom right,rgb(66, 204, 66),rgb(31, 158, 31), green);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
}
.circle{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(to right, skyblue, rgb(76, 76, 220));
  margin-bottom: 10px;
}
.box,.box2{
  border: 2px solid white;
  padding: 10px 20px;
}
button{
  padding: 6px 12px;
  background: linear-gradient(to bottom, skyblue ,rgb(95, 190, 227), lightseagreen);
  border-radius:10px ;
  border: none;
}
button:active{
  scale: 0.95;
}
img{
  width: 100px;
  height: 100px;
}