@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
    background-color: #222;
    color: whitesmoke;
}
#page1,
#page2,
#page3{
    width: 100%;
    height: 100vh;
    background-color: #222;
}
.move{
    font-family: "Goldman", sans-serif;
    padding: 14px;
    background-color: #D8FF04;
    display: flex;
    gap: 100px;
    overflow: hidden;
}
.move .marque{
    flex-shrink: 0;
    color: black;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 14px;
    transform: translateX(-100%);
}