*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100vh;
    background-color: #222;
    font-size: 62.5%;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main{
    height: 100vh;
    width: 100%;
    background-color: #222;
}
#cursor{
    height: 2rem;
    aspect-ratio: 1;
    background-color: aliceblue;
    border-radius: 50%;
    position: fixed;
}