*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100vh;
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1508611087707-c9d807892372?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: black;
}
.nav i{
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
}
.full{
    height: 100vh;
    width: 30%;
    position: absolute;
    background-color: rgba(250, 235, 215, 0.241);
    top: 0;
    right: -30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    backdrop-filter: blur(10px);
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 3rem;
    
}
.full i{
    background-color: white;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    top: 3rem;
    right: 5rem;
    cursor: pointer;
}