*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100vh;
    background-color: #333;
    font-size: 62.5%;
    padding: 1rem;
}
#box{
    --r : 3rem;
  height: 18rem; /* adjust to control the size  */
  aspect-ratio: 1;
  margin: calc(tan(22.5deg)*var(--r));
  clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%) margin-box;
  --_g:/calc(2*var(--r)) calc(2*var(--r)) 
    radial-gradient(#000 70%,#0000 72%);
  --_s:calc(100% - (1 - tan(22.5deg))*var(--r));
  mask:
    conic-gradient(#000 0 0) no-repeat 50%/var(--_s) var(--_s),
    top var(--_g) no-repeat space,left var(--_g) space no-repeat;
  background-color: pink;
}
h1{
    color: white;
    line-height: 2rem;
}
.flower {
    background-color: orange;
  width: 200px; /* adjust to control the size */
  aspect-ratio: 1;
  --g:/37.02% 37.02% radial-gradient(#000 calc(71% - 1px),#0000 71%) no-repeat;
  mask: 100% 50% var(--g),65.451% 97.553% var(--g),9.549% 79.389% var(--g),9.549% 20.611% var(--g),65.451% 2.447% var(--g),radial-gradient(100% 100%,#000 25.476%,#0000 calc(25.476% + 1px));
}