
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

/* Root variables */
:root{
    /*colors-variables */
    --bg-body-Color : #fff;
    --para-Color : #333;

    /* padding-variables */
    --padding-xs : 0.5rem;
    --padding-s: 1rem;
    --padding-md : 1.4rem;
    --padding-l : 2rem;
    --padding-xl: 2.6rem;
    --padding-xxl :4rem;

    /* font variables */
    --font-sm: 1.2rem;
    --font-md : 1.8rem;
    --font-l : 2.4rem;
    --font-xl : 3rem;
    --font-xxl : 4rem;
    --font-main-heading : 5.6rem;
}
/* Basic boilarPlate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-body-Color);
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* reusable components */
.btn{
     font-size: var(--font-md);
     padding: var(--padding-s) var(--padding-md);
     border-radius: var(--padding-xs);
     cursor: pointer;
}


header{
    width: 100%;
    padding: var(--padding-l) var(--padding-xxl);
    position: relative;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .logo-area {
    display: flex;
    align-items: center;
    gap: var(--padding-l);
}
header nav .logo-area i{
    font-size: var(--font-xxl);
    display: inline-block;
    rotate: 45deg;
}
header nav .logo-area h1 {
    font-size: var(--font-xxl);
    font-family:"Poppins", sans-serif ;
}
header nav .nav-li{
    display: flex;
    gap: var(--padding-xl);
}
header nav .nav-li ul{
    display: flex;
    align-items: center;
    gap: var(--padding-xxl);
}
header nav .nav-li ul li {
    font-family: "Google Sans", sans-serif;
    font-size: var(--font-l);
    font-weight: 600;
    list-style-type: none;
}
header nav .nav-li button{
    background-color: transparent;
}
.about-section{
    width: 100%;
    height: 85vh;
    display: flex;
    padding: var(--padding-l) var(--padding-xl);
}
.about-section .text-area{
    padding: var(--padding-s) var(--padding-xl);
    height: 100%;
    width: 40%;
}
.about-section .text-area h1{
   font-size: var(--font-main-heading);
   font-family: "Numans", sans-serif;
   font-weight: 500;
   line-height: 7.4rem;
   margin-bottom: var(--padding-xl);
}
.about-section .text-area p{
    font-family: "Google Sans", sans-serif;
    font-weight: 100;
    color: var(--para-Color);
    font-size: var(--font-l);
    line-height: 3.5rem;
    word-spacing: var(--padding-s);
    margin-bottom: var(--padding-xxl);
}
.about-section .text-area button{
    background-color: var(--para-Color);
    color: var(--bg-body-Color);
}
.about-section figure{
width: 60%;
height: 90%;
}
.about-section figure img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}